<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CartFilter</display-name>
    <filter-name>CartFilter</filter-name>
    <filter-class>com.chinasofti.filter.CartFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CartFilter</filter-name>
    <url-pattern>/CartServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>com.chinasofti.service.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>com.chinasofti.service.ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchClassNameServlet</display-name>
    <servlet-name>SearchClassNameServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.SearchClassNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClassNameServlet</servlet-name>
    <url-pattern>/SearchClassNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadHomeServlet</display-name>
    <servlet-name>LoadHomeServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.LoadHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHomeServlet</servlet-name>
    <url-pattern>/LoadHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveServlet</display-name>
    <servlet-name>RetriveServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.RetriveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveServlet</servlet-name>
    <url-pattern>/RetriveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCart</display-name>
    <servlet-name>DeleteCart</servlet-name>
    <servlet-class>com.chinasofti.servlet.DeleteCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCart</servlet-name>
    <url-pattern>/DeleteCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>com.chinasofti.servlet.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrawChartServlet</display-name>
    <servlet-name>DrawChartServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.DrawChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawChartServlet</servlet-name>
    <url-pattern>/DrawChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImg</display-name>
    <servlet-name>UploadImg</servlet-name>
    <servlet-class>com.chinasofti.servlet.UploadImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImg</servlet-name>
    <url-pattern>/UploadImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDownloadImgs</display-name>
    <servlet-name>ShowDownloadImgs</servlet-name>
    <servlet-class>com.chinasofti.servlet.ShowDownloadImgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDownloadImgs</servlet-name>
    <url-pattern>/ShowDownloadImgs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadImgServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.DownloadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImgServlet</servlet-name>
    <url-pattern>/DownloadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferHomeServlet</display-name>
    <servlet-name>TransferHomeServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.TransferHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferHomeServlet</servlet-name>
    <url-pattern>/TransferHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaySuccessServlet</display-name>
    <servlet-name>PaySuccessServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.PaySuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaySuccessServlet</servlet-name>
    <url-pattern>/PaySuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderServlet</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>